
<%- partial('_partial/header',{name:'gitrepos'}) %>
<div class="container container-100vh">
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-12">
                    <div class="content is-medium">
                            <h3 class="title is-3">GIT REPOSITÓRIOS</h3>
                            <%- page.content %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
