<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="pt-br">
	<head>
		<%- partial('_partial/head') %>
	</head>
	<body>
		<div id="home-hidden"></div>
		<%- body %>
		<%- partial('_partial/footer') %>
	</body>
</html>

