<footer class="section" style="background-color: #2c2c4e">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong
          >© 2023-<%= (new Date()).getFullYear() %> Desenvolvido por
          <a href="https://andersongomes.dev.br">Anderson Gomes</a>.</strong
        >
      </p>
    </div>
  </div>
</footer>
<%- js("assets/js/bulma.js") %>
