<a id="toTop" class="button" style="display: block;" href="#home-hidden">
  <span class="icon is-large">
      <i class="fas fa-arrow-up"></i>
  </span>
</a>

<footer class="section footer_section">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong
          >© 2023-<%= (new Date()).getFullYear() %> Desenvolvido por
          <a href="https://andersongomes.dev.br">Anderson Gomes</a>.</strong
        >
      </p>
    </div>
  </div>
</footer>
<%- js("assets/js/bulma.js") %>
